[Unit]
Description=Syncthing Docker container
After=docker.service {% for dep in syncthing.systemd_after_deps %}{{ dep }} {% endfor %}

[Service]
TimeoutStartSec=0
ExecStartPre=-{{ syncthing.docker_executable }} kill syncthing-{{ syncthing.user }}
ExecStartPre=-{{ syncthing.docker_executable }} rm -f syncthing-{{ syncthing.user }}
ExecStartPre=-{{ syncthing.docker_executable }} pull {{ syncthing.container_image }}
ExecStart={{ syncthing.docker_executable }} run \
        --name syncthing-{{ syncthing.user }} \
        -v {{ syncthing.home }}:{{ syncthing.home_internal }} \
        --network=host \
        -e "GOGC={{ syncthing.gogc }}" \
        -e "PUID={{ syncthing.puid }}" \
        -e "PGID={{ syncthing.pgid }}" \
        {% for dir in syncthing.shared_dirs -%}
        --mount type=bind,source={{ dir }},target={{ dir }} \
        {% endfor -%}
        {% for name, value in syncthing.environment_variables.items() -%}
        -e "{{ name }}={{ value }}" \
        {% endfor -%}
        {{ syncthing.container_image }}
ExecStop={{ syncthing.docker_executable }} stop syncthing-{{ syncthing.user }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
