{# Import defaults, OS family map and OS map. #}
{% import_yaml 'syncthing-docker/defaults.yaml' as defaults %}
{% import_yaml 'syncthing-docker/osfamilymap.yaml' as osfamilymap %}
{% import_yaml 'syncthing-docker/osmap.yaml' as osmap %}

{# Start with defaults, merge osfamilymap, then merge osmap, then merge pillar #}
{% set syncthing = salt['grains.filter_by'](
  defaults,
  merge = salt['grains.filter_by'](
    osfamilymap,
    grain='os_family',
    merge = salt['grains.filter_by'](
      osmap,
      grain='os',
      merge = salt['pillar.get']('syncthing-docker', {}),
    ),
  ),
  base='syncthing-docker')
%}

{% for instance_name, instance in syncthing.instances.items() %}

{% set config = instance.home ~ "/config" %}
{% set container_image = "linuxserver/syncthing" %}
{% set home = instance.home ~ "/config" %}
{% set home_internal = "/config" %}

{# If we specified container_image, override whatever we have with that #}
{% if instance.container_image -%}
{% set container_image = instance.container_image %}
{% endif -%}

{# Resolve user and group as UID and GID #}
{% do instance.update (
    {
      'container_image': container_image,
      'home_internal': home_internal,
      'home': home,
      'config': config,
      'puid': salt.cmd.run('id -u ' ~ instance.user),
      'pgid': salt.cmd.shell('getent group ' ~ instance.group ~ ' | cut -d: -f3')
    }
  )
%}

{% endfor %}
